<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Rec</title>
    <style>
        html{
            background: cadetblue;
        }
    </style>
</head>
<body>
<div id="app">
    <div id="sys_title">
        <h1>{{userName}}, 欢迎使用分布式书籍推荐系统</h1>
    </div>
    <HR style="FILTER: alpha(opacity=0,finishopacity=100,style=1)" width="100%" color=#987cb9 SIZE=3>
    <!--
    page status:
    #-1 : loading
    0: error
    1: new user, need to do score
    2: old user, just show the recommendation result
    -->

    <div id="new_user_page" v-if="pageStatus==1">
        <h2>新用户，请先对阅读过的书籍进行打分</h2>
        <input type="button" name="re_score" value="对书籍进行打分" v-on:click="score()">
<!--        <a href="/book-rec/submitServlet?name=" + :userName><input type="button" value="交付Spark平台进行计算"></a>-->
        <form id="new_score" action="/book-rec/scoreServlet" method="post">
            <table id="new_score_table" border="1" cellpadding="0" width="100%">
                <tr>
                    <th>index</th>
                    <th>cover</th>
                    <th>title</th>
                    <th>author</th>
                    <th>Score</th>
                </tr>
                <tr v-for="(book,i) in score_book_list" align="center">
                    <td>{{i + 1}}</td>
                    <td><img :src="book.url"></td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td><input type="text" :name="book.bookId" align="center"></td>
                </tr>
            </table>
            <input type="submit" class="button" value="提交评分" v-on:click="load_on()" v-on:auxclick="">
            <input hidden type="text" name="name" :value="userName">
        </form>

        <input type="button" name="new_re_score" value="展示推荐结果" v-on:click="show_res()">
        <table id="new_rec_books_table" border="1" cellpadding="0" width="100%" v-show="is_display==1">
            <tr>
                <th>cover</th>
                <th>index</th>
                <th>title</th>
                <th>author</th>
            </tr>
            <tr v-for="(book,i) in rec_result" align="center">
                <td><img :src="book.url"></td>
                <td>{{i + 1}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
            </tr>
        </table>

    </div>
    <div id="old_user_page" v-else-if="pageStatus==2">
        <!---->
        <h2>您可以直接获取相应的书籍推荐结果，也可以对最新阅读的书籍进行打分</h2>
        <input type="button" name="re_score" value="对书籍进行打分" v-on:click="score()">
        <form id="score" action="/book-rec/scoreServlet" method="post">
            <table id="score_table" border="1" cellpadding="0" width="100%" v-show="need_score==1">
                <tr>
                    <th>index</th>
                    <th>cover</th>
                    <th>title</th>
                    <th>author</th>
                    <th>Score</th>
                </tr>
                <tr v-for="(book,i) in score_book_list" align="center">
                    <td>{{i + 1}}</td>
                    <td><img :src="book.url"></td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td><input type="text" :name="book.bookId" align="center"></td>
                </tr>
            </table>
            <input type="submit" class="button" value="提交评分" v-on:="load_on()">
            <input hidden type="text" name="name" :value="userName">
        </form>

        <input type="button" name="re_score" value="展示推荐结果" v-on:click="show_res()">
        <table id="rec_books_table" border="1" cellpadding="0" width="100%" v-show="is_display==1">
            <tr>
                <th>cover</th>
                <th>index</th>
                <th>title</th>
                <th>author</th>
            </tr>
            <tr v-for="(book,i) in rec_result" align="center">
                <td><img :src="book.url"></td>
                <td>{{i + 1}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
            </tr>
        </table>

    </div>
<!--    <div id="loading_page_1" v-else-if="pageStatus==-1">-->
<!--        <h3>正在将评分结果存储到HDFS...</h3>-->
<!--        <h3>转交给Spark集群计算中，请稍后...</h3>-->
<!--    </div>-->
    <div id="error_page" v-else>
        <h1>Error: no valid user!</h1>
    </div>

</div>


<!--scripts-->
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                userName: "",
                pageStatus: 1,
                rec_result: [],
                is_display: 0,
                need_score: 0,
                score_book_list: []
            }
        },
        mounted() {
            var _this = this;
            let name = sessionStorage.getItem('userName');
            if (name != null) {
                _this.userName = name;
                axios({
                    method: "get",
                    /*FLAG*/
                    url: "http://localhost:8888/book-rec/checkIsHasRecResServlet?username=" + _this.userName
                }).then(function (resp) {
                    if (resp.data == "yes") {
                        _this.pageStatus = 2;
                        axios({
                            method: "get",
                            /*FLAG */
                            url: "http://localhost:8888/book-rec/selectRecResByIdServlet?username=" + _this.userName
                        }).then(function (resp) {
                            _this.rec_result = resp.data;
                        });
                    } else {
                        _this.pageStatus = 1;
                    }
                })
            } else {
                _this.pageStatus = 0;
            }
        },
        methods: {
            load_on() {
                var _this = this;
                alert("转交给Spark集群计算中，请稍后...");
                // _this.pageStatus = -1;
            },
            show_res() {
                var _this = this;
                _this.is_display ^= 1;
            },
            score() {
                var _this = this;
                _this.need_score ^= 1;
                axios({
                    method: "get",
                    /*FLAG */
                    url: "http://localhost:8888/book-rec/selectRandomTenBooksServlet"
                }).then(function (resp) {
                    _this.score_book_list = resp.data;
                });

            }
        }
    })

</script>
</body>
</html>